

/*table {*/
/*    border: 2px solid #7a0096;*/
/*    padding: 10px*/
/*}*/

* {
    font-family: Calibri;
}

.container {
    display: grid;
    place-items: center; /* Shorthand for centering both axes */
    height: 200px;          /* Example height for visibility */
}

th {
    color: white;
    background-color: navy;
}

td {
    color: black;
    background-color: white;
}

td, th {
    /*border: 2px solid #7a0096;*/
    border: 2px solid navy;
    padding: 5px;
    align-content: center;
    text-align: center;
}

form {
    font-size: 15px;
    display: grid;
    grid-template-columns: 120px 1fr;
    row-gap: 5px;
    column-gap: 5px;
}

.form-group {
    display: contents; /* key line */
    padding: 6px;
}

label {
    align-self: center;
}

input[type="text"],
textarea {
    font-size: 15px;
    width: 100%;
    padding: 6px;
    /*box-sizing: border-box;*/
}

textarea {
    resize: vertical;
}

/* checkbox row */
.form-group label:has(input[type="checkbox"]) {
    grid-column: 2;
}

/* buttons */
.form-action {
    grid-column: 2;
    display: flex;
    gap: 10px;
}

button {
    padding: 6px 14px;
    cursor: pointer;
    color: navy;
    font-weight: bold;
}

.btn {
    padding: 6px 14px;
    cursor: pointer;
    appearance: button;
}

.userinfo {
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: inline;
    align-items: center;
    gap: 15px;
    color: white;
    background-color: brown;
}
.logout {
    margin: 2px;
    padding: 2px;
    color: brown;
    background-color: white;
}
